[submodule "themes/classic"]
	path = themes/classic
	url = https://github.com/goodroot/hugo-classic.git
[submodule "themes/pristine"]
	path = themes/pristine
	url = https://github.com/sakibccr/pristine.git
